* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: rgb(223, 221, 219);
  display: flex;
  justify-content: center;
}
body .allMainStuff {
  outline: solid red;
  width: 95%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .allMainStuff header {
  padding: 10px;
}
body .allMainStuff header a:link {
  text-decoration: none;
  color: black;
}
body .allMainStuff header a:link:hover {
  color: blue;
}
body .allMainStuff header .coolSpan {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
body .allMainStuff header .coolSpan:hover {
  background-color: white;
}
body .allMainStuff main .articles {
  border-radius: 7px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  /* la seccion section es lo que tienen que cambiar con el mediaquerry */
}
body .allMainStuff main .articles .articleItem {
  border-radius: 7px;
  background-color: white;
  width: 100%;
  display: block;
  margin: 10px 0;
}
body .allMainStuff main .articles .articleItem img.articleImage {
  border-radius: 10px;
  width: 98%;
  margin: 0 auto;
  display: block;
}
body .allMainStuff main .articles .articleItem .whoWroteThis {
  padding: 0 20px;
  margin: 3px;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  justify-self: flex-start;
  justify-items: flex-start;
}
body .allMainStuff main .articles .articleItem .whoWroteThis img.faceIcon {
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-self: flex-start;
  width: 35px;
  height: 35px;
}
body .allMainStuff main .articles .articleItem .whoWroteThis .authorThing {
  padding: 0 10px;
}
body .allMainStuff main .articles .articleItem .whoWroteThis .authorThing ul {
  list-style-type: none;
}
body .allMainStuff main .articles .articleItem .whoWroteThis a:link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
body .allMainStuff main .articles .articleItem section { /*lo que tiene que cambiar ocn media querry es este margin y width */
  padding: 0 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body .allMainStuff main .articles .articleItem section a:link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
body .allMainStuff main .articles .articleItem section a:link:hover {
  color: blue;
}
body .allMainStuff main .articles .articleItem section .articleTitle {
  font-size: xx-large;
}
body .allMainStuff main .articles .articleItem section .hashtags {
  margin: 5px 7px;
}
body .allMainStuff main .articles .articleItem section .hashtags .hashtag {
  padding: 3px;
}
body .allMainStuff main .articles .articleItem section .hashtags .hashtag:hover {
  border-radius: 7px;
  background-color: rgb(201, 203, 204);
  border: solid 1px;
}
body .allMainStuff main .articles .articleItem section .botBox {
  border-radius: 7px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .allMainStuff main .articles .articleItem section .botBox span {
  margin: 0 7px;
}
body .allMainStuff main .articles .articleItem section .botBox .hoverStuff {
  padding: 3px;
  border-radius: 7px;
}
body .allMainStuff main .articles .articleItem section .botBox .hoverStuff:hover {
  background-color: rgb(213, 213, 213);
}
body .allMainStuff main .articles .articleItem section .botBox .pushRight {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
body .allMainStuff main .articles .articleItem section .botBox .pushRight button {
  border: none;
  background-color: white;
  border-radius: 7px;
  padding: 7px;
}
body .allMainStuff main .articles .articleItem section .botBox .pushRight button:hover {
  background-color: rgb(147, 175, 222);
}/*# sourceMappingURL=main.css.map */