.asideRight {
    padding-top: 60px;
    outline: solid green;
    display: flex;
    flex-direction: column;
    /* width: 280px; */
    min-width: 250px;
    max-width: 350px;
    height: auto;
    padding: 8px;
    p {
        display: flex;
        /* width: 280px; */
        flex-basis: 250px;
        max-width: 350px;
    }
}



