header {
    padding:0;
    display: flex;
    flex-wrap:wrap;
    position: fixed;
    width:100%;


    .navbarMenu {
        display: flex;
        // flex-wrap:wrap;
        position: fixed;
        width:100%;
    }

    a.login {
        
        // outline: solid green;
        position:relative;
        left: 600px;

    }

    a.createaccount {
        // outline: solid green;
        position:relative;
        left: 600px;
    }
    
}
    