
header {
    .navbarMenu {
        // outline: solid red;
        background: rgb(255, 255, 255);
        border: 1px solid rgba(219, 214, 214, 0.932);
        img {
            width:47px;
            height: 38px;
            // position:relative;
            left: 8px;
            top:5px;

        }
        
        img:hover {
            cursor: pointer;
        }

        input  { 
                    
            // outline: solid blue;
            margin:10px;
            padding: 0;
            
            width: 400px;
            height: 30px;

            border: 1px solid rgb(214, 200, 200);
            border-radius: 5px;
            display:inline-block;
            line-height: 20px;

            position:relative;
            left: 25px;

           }

           a.login  {


               button  {
       
            //    outline: solid green;
               border: 0;
               padding: 10px;
               background-color: white;
               position: relative;
               top: 5px;
               font-size: 14px;

                }
                button:hover{
                
                
                background-color: rgba(224, 224, 224, 0.63);
                color:  rgb(36, 36, 209);
                text-decoration: underline;


                }
            }

            a.createaccount { 
                button {

                margin: 0;
                padding: 10px;
                border: 1px solid rgb(36, 36, 209);
                background-color: rgb(255, 255, 255);
                border-radius: 7px;
                color: rgb(36, 36, 209);
                font-size: 14px;
                font-weight:500;
                position: relative;
                top: 5px;
                }

                button:hover {

                border: 1px solid rgb(36, 36, 209);
                background-color: rgb(36, 36, 209);
                color: white;
                text-decoration: underline;
            }
               

                
             }
               
               
               
            


    }

    
}